@tailwind base;
@tailwind components;
@tailwind utilities;

.button-google {
  @apply max-w-xs flex justify-center m-auto mt-2 w-full font-primary text-sm leading-5 font-bold  uppercase  items-center border gap-3 text-[rgb(65,63,63)] bg-white cursor-pointer  ease-[ease] py-2 px-3 rounded-lg border-solid border-common;
}
.button-google svg {
  @apply h-6;
}
.separator {
  @apply mt-1 w-full flex items-center gap-2;
}
.separator .line {
  @apply w-full h-px;
}
.custom-loader {
  width: 330px;
  height: 22px;
  border-radius: 20px;
  color: black;
  border: 2px solid;
  position: relative;
}

.custom-loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: red;
  animation: p6 2s infinite;
}

@keyframes p6 {
  100% {
    inset: 0;
  }
}

.crop-btn {
  @apply relative text-sm bg-[#BF0426] no-underline text-[#DEDEDE] shadow-[0.5em_0.5em_0.5em_rgba(0,0,0,0.3)] px-2 py-2 rounded border-[none] before:absolute before:content-[''] before:h-0 before:w-0 before:shadow-[0.2em_0.2em_0.2em_rgba(0,0,0,0.3)] before:transition-[0.3s] before:rounded-[0_0_0.5em_0] before:left-0 before:top-0 hover:before:w-[1.6em] hover:before:h-[1.6em] active:shadow-[0.2em_0.2em_0.3em_rgba(0,0,0,0.3)] active:translate-x-[0.1em] active:translate-y-[0.1em];
}
.crop-btn::before {
  background: linear-gradient(
    135deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(33, 33, 33, 1) 50%,
    rgba(150, 4, 31, 1) 50%,
    rgba(191, 4, 38, 1) 60%
  );
}




